* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "lato";
}

a {
  text-decoration: none;
}

body {
  background-color: #071B59;
}

li {
  list-style: none;
}

body::-webkit-scrollbar {
  width: 5px;
}

body::-webkit-scrollbar-track {
  background: #071B59;
}

body::-webkit-scrollbar-thumb {
  background-color: #20D5F0;
  border-radius: 20px;
  border: 1px solid #20D5F0;
}

#main-banner .title-container h2 {
  text-shadow: 3px 2px #000;
}

.jobs-container h2, .services-container h2 {
  font-size: 3rem;
  margin-top: 2rem;
  text-align: center;
}

.jobs-container .jobs-list .other-jobs-container .job-card, .jobs-container .jobs-list .first-job {
  background-size: cover;
  background-position: center;
}

.jobs-container .jobs-list .other-jobs-container .job-card .card-title, .jobs-container .jobs-list .first-job .card-title, .jobs-container .jobs-list .other-jobs-container .job-card .job-card-cover, .jobs-container .jobs-list .first-job .job-card-cover {
  opacity: 0;
}
.jobs-container .jobs-list .other-jobs-container .job-card:hover .job-card-title, .jobs-container .jobs-list .first-job:hover .job-card-title, .jobs-container .jobs-list .other-jobs-container .job-card:hover .job-card-cover, .jobs-container .jobs-list .first-job:hover .job-card-cover, .jobs-container .jobs-list .other-jobs-container .job-card:hover .job-card-description, .jobs-container .jobs-list .first-job:hover .job-card-description {
  opacity: 1;
}

.btn {
  padding: 0.6rem 1rem;
  border: 1px solid #FFF;
  text-transform: uppercase;
  border-radius: 5px;
  transition: 0.3s;
  color: #FFF;
}
.btn:hover {
  color: #20D5F0;
  border-color: #20D5F0;
}
.btn-primary {
  background-color: #20D5F0;
  border-color: #20D5F0;
}
.btn-primary:hover {
  background-color: transparent;
}
.btn-rounded {
  margin-top: 1rem;
  border-radius: 2rem;
  padding: 1rem 1.5rem;
}

.btn-200 {
  width: 400px;
}

#main-banner {
  height: 100vh;
  background-position-x: 20px;
  background-position: center;
  width: calc(100vw - 5px);
}
#main-banner .nav-container {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #071B59;
  z-index: 10;
}
#main-banner .nav-container .brand {
  color: #FFF;
  font-size: 2rem;
  transition: 0.3s;
}
#main-banner .nav-container .brand:hover {
  color: #20D5F0;
}
#main-banner .nav-container .brand img {
  position: relative;
  padding: 5px;
  z-index: -1;
  height: 60px;
}
#main-banner .nav-container .brand img:hover {
  height: 60px;
}
#main-banner .nav-container-navbar {
  display: flex;
  align-items: center;
  height: 100%;
}
#main-banner .nav-container-navbar li {
  margin: 5px 10px;
}
#main-banner .nav-container-navbar li a {
  color: #FFF;
  transition: 0.3s;
}
#main-banner .nav-container-navbar li a:hover {
  color: #20D5F0;
}
#main-banner .nav-container .fas .fa-bares {
  font-size: 2rem;
  color: #FFF;
  display: none;
}
#main-banner .title-container {
  margin-top: 60px;
  background: url("../img/tech.jpg") no-repeat;
  background-size: cover;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
}
#main-banner .title-container h2 {
  font-size: 4rem;
  margin-top: 4rem;
}

main {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 5px);
}

.services-container {
  text-align: centers;
  min-height: calc(100vh - 60px);
  background-color: #FFF;
}
.services-container h2 {
  color: #20D5F0;
  font-weight: bold;
}
.services-container .service-card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
  padding: 2rem;
}
.services-container .service-card-container .services-card {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: center;
  width: 30%;
  margin: 1px;
  padding: 2rem;
  color: #20D5F0;
  border: 1px solid #FFF;
  transition: 0.3s;
  margin-top: 1.5rem;
  box-shadow: 2px 2px 76px 0px rgba(32, 213, 240, 0.3);
  -webkit-box-shadow: 2px 2px 15px 0px rgba(32, 213, 240, 0.3);
  -moz-box-shadow: 2px 2px 15px 0px rgba(32, 213, 240, 0.3);
  font-size: 1em;
  border-radius: 8px;
}
.services-container .service-card-container .services-card:hover {
  background-color: #20D5F0;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
.services-container .service-card-container .services-card:hover p {
  color: white;
}
.services-container .service-card-container .services-card i {
  font-size: 4rem;
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}
.services-container .service-card-container .services-card h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
.services-container .service-card-container .services-card p {
  color: black;
}
.services-container .service-card-container .services-card:hover {
  border-color: transparent;
  box-shadow: 0 1px 10px #FFF;
}

.jobs-container {
  background-color: #E5EAFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  min-height: 100vh;
}
.jobs-container .jobs-list {
  display: flex;
  width: calc(100vw - 5px);
  padding: 2rem 0;
}
.jobs-container .jobs-list .first-job {
  width: 30%;
  height: 415px;
  margin: 0 2%;
  background-image: url("../img/code.jpg");
  background-size: cover;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
  color: #FFF;
}
.jobs-container .jobs-list .other-jobs-container {
  display: flex;
  flex-wrap: wrap;
  width: 68%;
}
.jobs-container .jobs-list .other-jobs-container .job-card {
  width: 46%;
  height: 200px;
  position: relative;
  cursor: pointer;
  margin-bottom: 15px;
  margin: 0 0.5rem;
}
.jobs-container .jobs-list .other-jobs-container #job2 {
  background-image: url("../img/server.jpg");
}
.jobs-container .jobs-list .other-jobs-container #job3 {
  background-image: url("../img/mulher.jpg");
}
.jobs-container .jobs-list .other-jobs-container #job4 {
  background-image: url("../img/taxi.jpg");
}
.jobs-container .jobs-list .other-jobs-container #job5 {
  background-image: url("../img/bann.jpg");
}
.jobs-container .jobs-list .job-card-cover {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 1.75rem;
  background-color: rgba(0, 0, 0, 0.6);
  border: 3px solid #20D5F0;
}
.jobs-container .jobs-list .job-card-title {
  text-align: center;
  color: #FFF;
  font-size: 2.2rem;
  transition: 0.5s;
  font-weight: bold;
}
.jobs-container .jobs-list .job-card-description {
  text-align: center;
  color: #FFF;
  font-size: 1.5rem;
  transition: 0.5s;
  padding: 1rem;
}

footer {
  position: relative;
  min-height: 30vh;
  display: flex;
  flex-direction: column;
  width: calc(100vw - 5px);
  background-color: #000;
  border-top: 4px solid #20D5F0;
  font-weight: bold;
  box-sizing: border-box;
}
footer .footer-container-desc {
  width: calc(100vw - 5px);
  color: #FFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  justify-items: center;
  text-align: center;
}
footer .footer-container-desc-title {
  margin-top: 1em;
  font-size: 2.5em;
  text-align: center;
  color: #20D5F0;
}
footer .footer-container-desc p {
  font-size: 1.5em;
  padding: 1em;
  margin: 1em;
  width: 75%;
  color: #20D5F0;
}
footer .footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FFF;
}
footer .footer-container-links {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 2em;
}
footer .footer-container-links-list {
  display: flex;
  align-items: center;
  width: 100%;
  flex-direction: column;
}
footer .footer-container-links-list-logo {
  width: 100%;
  height: 100%;
  margin-right: 2em;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  justify-items: left;
}
footer .footer-container-links-list img {
  width: 350px;
}
footer .footer-container-links-list-right {
  display: flex;
  flex-direction: column;
}
footer .footer-container-links-list-right-title {
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  color: #20D5F0;
  text-transform: capitalize;
}
footer .footer-container-links-list-right-title::after {
  content: "_________________";
  display: block;
  height: 2px;
  width: 100%;
  color: white;
}
footer .footer-container-links-list-right ul {
  margin-top: 2em;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: left;
}
footer .footer-container-links-list-right ul li {
  display: flex;
  padding: 1em;
}
footer .footer-container-links-list-right ul li a {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-content: center;
  align-items: center;
  text-decoration: none;
  color: #20D5F0;
}
footer .footer-container-links-list-right ul li a i {
  padding: 0 10px;
  width: 50px;
  font-size: 2em;
}
footer .footer-container-links-list-right ul li a span {
  display: block;
  margin-left: 0.5em;
}
footer .footer-container-links-list-right ul li a:hover {
  color: #FFF;
}
footer .footer-copy-right-container {
  position: relative;
  bottom: 0px;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-items: end;
  justify-content: end;
  padding: 1em 0;
  background-image: linear-gradient(#000, #071B59);
  width: calc(100vw - 5px);
  color: #FFF;
  min-height: 100px;
}

@media screen and (max-width: 900px) {
  .other-jobs-container {
    flex-direction: column;
  }
  .jobs-list {
    flex-direction: column;
    margin: 0px !important;
    padding: 0px !important;
  }
  .first-job {
    margin: 0px !important;
    padding: 0px !important;
    width: calc(100vw - 5px) !important;
  }
  .job-card {
    margin: 0px !important;
    padding: 0px !important;
    width: calc(100vw - 5px) !important;
  }
  footer {
    height: 100vh;
  }
  .service-card-container {
    flex-direction: column;
  }
  .services-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80vw !important;
  }
  .footer-container {
    min-height: calc(100vh - 100px) !important;
    flex-direction: column;
  }
  .footer-container-links {
    align-content: flex-end !important;
    flex-direction: row;
  }
  .footer-container-links-list {
    align-items: flex-end !important;
  }
  .footer-container-links-list-right {
    padding: 0px !important;
    margin-top: 20px;
    width: 80vw;
    color: yellow;
  }
  .footer-container-links-list-right ul {
    flex-direction: column;
  }
}

/*# sourceMappingURL=style.css.map */
