#main-banner
    height: 100vh
    background-position-x: 20px
    background-position: center
    width: $width-main
    overflow: hidden

    .nav-container
        display: flex
        position: fixed
        top: 0
        left: 0
        width: 100%
        background-color: black
        z-index: 10
        border-bottom: 1px groove #3f3f3f
        justify-content: center

        nav
            height: $height-menu

        &-navbar
            font-size: 1.5em
            display: flex
            align-items: center
            height: 100%

            li
                margin: 5px 10px

                a
                    color: $light-color
                    @include main-hover
        .fas .fa-bares
            font-size: 2rem
            color: $light-color
            display: none

    .title-container
        margin-top: $height-menu
        background: url('../img/tech.jpg') no-repeat
        background-size: cover
        color: $light-color
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-around
        height: 100%
        img
            height: 60px
        a
            display: flex
            font-weight: bold
            &:hover
                background-color: black
                color: white
