@import 'variables'
@import 'utilities'
@include reset

#main-banner
    background: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0 , .6 )), url('../img/banner.jpg')
    height: 85vh
    background-size: cover
    background-position-x: 20px
    background-position: center

    .nav-container
        display: flex
        justify-content: space-between
        position: fixed
        top: 0
        left: 0
        width: 100%
        background-color: $background-color
        z-index: 10

        .brand
            color: $light-color
            font-size: 2rem
            @include main-hover
            img
                position: relative
                padding: 5px
                z-index: -1
                height: 60px
                &:hover
                    height: 60px
        &-navbar
            display: flex
            align-items: center
            height: 100%

            li
                margin: 5px 10px

                a
                    color: $light-color
                    @include main-hover
        .fas .fa-bares
            font-size: 2rem
            color: $light-color
            display: none

    .title-container
        color: $light-color
        display: flex
        flex-direction: column
        align-items: center
        justify-content: center
        height: 100%

        h2
            @extend %title-text-shadow
            font-size: 3rem
        h2
            @extend %title-text-shadow
            font-size: 4rem
            margin-top: 1rem

.services-container
    text-align: center
    padding: 2rem
    margin-bottom: 2rem
    h2
        @extend %section-title
    .service-card-container
        display: flex
        flex-wrap: wrap
        justify-content: space-around
        padding: 2rem

        .services-card
            width: 30%
            margin: 1px
            padding: 2rem
            border: 1px solid $light-color
            transition: .3s
            margin-top: 1.5rem
            i
                color: $primary-color
                font-size: 4rem
                display: block
                margin-top: 1.5rem
                margin-bottom: 1rem
            h3
                font-size: 1.5rem
                margin-bottom: 1rem

            p
                color: $text-color

            &:hover
                border-color: transparent
                box-shadow: 0 1px 10px $light-color

.jobs-container
    background-color: $secondary-bg
    padding: 3rem

    h2
        @extend %section-title

    .jobs-list
        display: flex
        padding: 2rem 0

        .first-job
            width: 30%
            height: 415px
            margin: 0 2%
            background-image: url('../img/code.jpg')
            position: relative
            cursor: pointer
            transition: .5s
            color: $light-color
            @extend %center-bg
            @extend %card-hover
        .other-jobs-container
            display: flex
            flex-wrap: wrap
            width: 68%

            .job-card
                width: 46%
                height: 200px
                position: relative
                cursor: pointer
                margin-bottom: 15px
                margin: 0 .5rem
                @extend %center-bg
                @extend %card-hover

            #job2
                background-image: url('../img/server.jpg')
            #job3
                background-image: url('../img/mulher.jpg')
            #job4
                background-image: url('../img/taxi.jpg')
            #job5
                background-image: url('../img/bann.jpg')

        .job-card-cover
            position: absolute
            top: 0
            left: 0
            width: 100%
            height: 100%
            padding-top: 1.75rem
            background-color: rgba(0, 0, 0, .6)
            border: 3px solid $primary-color
        .job-card-title
            text-align: center
            color: $light-color
            font-size: 2.2rem
            transition: .5s
            font-weight: bold
        .job-card-description
            text-align: center
            color: $light-color
            font-size: 1.5rem
            transition: .5s
            padding: 1rem
footer
    display: flex
    flex-direction: column
    margin-top: 20px
    background-color: $background-color
    .footer-container-desc
        width: 99vw
        color: $light-color
        display: flex
        flex-direction: column
        justify-content: center
        align-content: center
        align-items: center
        justify-items: center
        text-align: center
        &-title
            margin-top: 1em
            font-size: 2.5em
            text-align: center
        p
            padding: 1em
            margin: 1em
            width: 75%

    .footer-container

        display: flex
        align-items: center
        justify-content: center
        color: $light-color

        &-links

            display: flex
            width: 100%
            margin-top: 2em
            &-list
                display: flex
                align-items: center
                width: 100%
                flex-direction: column
                &-logo
                    width: 100%
                    height: 100%
                    margin-right: 2em
                    display: flex
                    align-content: center
                    align-items: center
                    justify-content: center
                    justify-items: left

                img
                    width: 350px
                &-right
                    display: flex
                    flex-direction: column
                    padding: 4em
                    border: 10px solid #6dcce113
                    border-radius: 7%
                    background-color: black
                    box-shadow: rgba(225, 225, 225, 0.25) 0px 54px 55px, rgba(238, 231, 231, 0.12) 0px -12px 30px, rgba(234, 218, 218, 0.12) 0px 4px 6px, rgba(135, 216, 237, 0.17) 0px 12px 13px, rgba(116, 231, 231, 0.09) 0px -3px 5px

                    &-title

                        text-align: center
                        font-size: 1.5em
                        font-weight: bold
                    ul
                        display: flex
                        flex-direction: column
                        align-content: center
                        justify-content: center
                        align-items: left

                        li
                            display: flex
                            padding: 1em
                            a
                                display: flex
                                justify-content: center
                                justify-items: center
                                align-content: center
                                align-items: center
                                text-decoration: none
                                color: $primary-color
                                i
                                    padding: 0 10px
                                    width: 50px
                                    font-size: 2em
                                span
                                    display: block
                                    margin-left: 0.5em
                                &:hover
                                    color: $light-color

    .footer-copy-right-container

        display: flex
        flex-direction: column
        align-content: center
        align-items: center
        padding: 2em 0
        width: 99vw
        color: red

@media screen and (max-width: 900px)
    .service-card-container
        flex-direction: column
    .services-card
        display: flex
        flex-direction: column
        justify-content: center
        width: 80vw !important
    .footer-container
        flex-direction: column
    .footer-container-links
        flex-direction: column
    .footer-container-links-list-right
        margin-top: 20px
        width: 80vw
        color: yellow
